.idea
dist/.idea_modules
dist/.settings
dist/project/target
dist/project/project
dist/target
dist/module/fixy/target
samples/.settings
samples/project/target
samples/.idea_modules
samples/project/project
samples/target
samples/data
dist/logs
